body {
    height: 575px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    width: 375px;
    padding: 1px;
    border: 2px solid #050505;
    border-radius: 0.5rem;
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.result-container {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    height: 100px;
    overflow-y: auto;
}

.footer {
    font-size: 16px;
    color: #666;
    text-align: center;
}
/* Add your existing CSS here */

/* Style for header */
header {
    background-color: #3a3b3b; /* Change this to your preferred color */
    padding: 1px;
    text-align: center;
    border-bottom: 1px solid #bebfc1; /* Change this to your preferred color */
}

.title {
    color: #ffffff; /* Change this to your preferred color */
    font-size: 24px;
    font-weight: bold;
}
